* {
    font-family: 'Assistant', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

.intro {
    overflow: auto;
    padding: 50px;
    padding-bottom: 200px;
}

.introImage {
    max-width: 50%;
    float: right;
    padding: 5px;
}

.introText {
    max-width: 50%;
    float: left;
    padding: 5px;
    padding-top: 70px;
    text-align: center;
}

.signUp {
    margin-top: 30px;
    overflow: auto;
}

.signUpText {
    display: block;
    max-width: 30%;
    float: right;
    text-align: left;
    padding-right: 60px;
}

.signUpImage {
    max-width: 50%;
    float: left;
    padding: 10px;
}

.formWrapper {

}