* {
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    grid-template-columns: inherit;
}

.wrapper {
    max-width: 100%;
    margin: 50px;
}

.info {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /*grid-gap: 2px;*/
    grid-auto-rows: minmax(200px, auto);
}

#summaryText {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
}

#summaryImage {
    grid-column: 2 / 2;
    grid-row: 1;
    max-width: 80%;
}


#signUpText {
    grid-column: 2 / 2;
    grid-row: 2;
    width: 60%;
    box-sizing: border-box;
}

#signUpImage {
    grid-column: 1 / 2;
    grid-row: 2;
    max-width: 80%;
}

.formWrapper {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}


h1 {
    text-align: center;
    margin-bottom: 60px;
}



