@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

/* CSS Reset =========================== */
html, body, nav, section, footer, article, 
h1, h2, h3, h4, p, a, ul, li, dt, dd, address, input, button {
	border: none;
	border-radius: 0;
	background: none;
	outline: none;
	appearance: none;
	margin: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}

/* Typography Defaults ================= */
html {
	font-size: 62.5%;
}

body {
	background-color: #f5f5f5;
}

body, button, input[placeholder] {
    font-family: 'Comfortaa', sans-serif;
}

input[placeholder]::placeholder {
	color: black;
}

p, nav li, address, #navContent > a {
	line-height: 3rem;
	font-size: 1.6rem;
}

nav li, address, h2, h2 + p, header, button, footer {
	color: white;
}

p {
	color: #9b9b9b;
}

nav li, address, h2, h2 + p, header, button {
	font-weight: 700;
}

h2, #navContent nav li {
	text-shadow: 0 1px #9b9b9b;
}

h2 {
	font-size: 4rem;
}

h3, h4, button {
	font-size: 2.3rem;
}

nav li {
	letter-spacing: .15rem;
}

input[placeholder] {
	font-size: 1.6rem;
}

/* Default Structure =================== */
body, div.wrapper, header, footer {
	max-width: 200rem;
}

body, div.wrapper, header, footer, #pageTitle {
	margin: 0 auto;
}


/* This is the back to top arrow button.
Margin-left moves it to the far right of the page,
margin-bottom pulls it away from the very bottom edge */
body > a {
	content: url(../images/up-arrow.png);
	height: 5rem;
	margin-left: 95%;
	margin-bottom: 4px;
	display: inline;
}

div.wrapper {
	min-height: inherit;
	background: rgba(0, 0, 0, .3);	
}

main {
	margin: 12.5rem auto;
	max-width: 90%;
}

/* Header ============================== */

/* Includes the entire hero image and everything inside */
header {
	min-height: 52.5rem;
	background-image: url("../images/sandboxBaby.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 70%;
}

/* background holding the logo, navigation, and more menu */
.navWrapper {
	max-height: 8rem;
	padding-top: 1rem;
	max-width: 100%;
}

#navContent h1 {
	content: url("../images/logo.png");
	max-width: calc(15% - 1rem);
	margin: 1rem;
}

/* navigation list and the more menu */
#navContent li, #navContent a {
	margin: 1rem;
}

#navContent nav {
	max-width: 90%;
}

#navContent, #navContent ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navContent img {
	padding-left: 2rem;
	padding-right: .25rem;
	min-height: fit-content;
}


#navContent > a::before {
	content: url(../images/menu.png);
	vertical-align: sub;
	margin-right: 1rem;
}

#pageTitle {
	margin-top: 10.8rem;
	text-align: center;
	max-width: 70%;
}

#pageTitle p {
	padding: 3.6rem;
}


/* Footer ============================== */

footer {
	min-width: 100%;
	background-color: #383A6B;
	height: 36.2rem;
	padding: 8rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

h4 {
	margin-bottom: 3rem;
}

/* Footer Quick Links nav only */
footer nav:first-of-type ul:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 0 3rem 0;
}

footer ul:nth-of-type(1) li {
	flex: 12rem;
}

/* Footer Social links */
footer nav ul:nth-of-type(2) {
	display: flex;
	
}

footer nav ul:nth-of-type(2) a {
	vertical-align: text-top;
}



/* Copyright */
body > section p {
	margin: 2rem 0 4.2rem 0;
	height: 3rem;
	background-color: #f6f6f6;
	text-align: center;
}


/* Programs section =================== */
article, aside {
	background-color: white;
	border-radius: 5px;
}



/* Program articles */

main section article {
	min-height: 43.1rem;
	width: calc(65%/2 - 4rem);
	float: left;
	margin-bottom: 4rem;
}

/* Used a class selector because nth of type wouldn't work if I wanted to select two elements */
main section article:not(.excludeMarginRight) {
	margin-right: 4rem;
}



main section::after {
	content: " ";
	display: inline-block;
	width: 100%;
}

article img {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.programInfo {
	padding: 3.6rem 2.2rem;
}

.programInfo h3 {
	margin-bottom: 1rem;
}

/* make description and time values gray */
div.programInfo p:nth-of-type(1), div p:nth-of-type(3) {
	color: #9b9b9b;
}

/* Changes the time label to pink */
div p:nth-of-type(2) {
	color: #e83e8c;
}

/* Moves the time values inline with time label */
div p:nth-of-type(2), div p:nth-of-type(3) {
	display: inline;
}

div p:nth-of-type(1) {
	padding-bottom: 1.8rem;
}

/* Registration Aside */

aside {
	min-height: 55rem;
	min-width: calc(30% - 2rem);
	float: right;
}

aside::after {
	content: " ";
	display: inline-block;
	width: 100%;
}

aside h3 {
	padding: 3rem 2rem;
	text-align: center;
}

aside input {
	margin: 1.8rem auto 0 auto;
	min-width: 85%;
	display: block;
	height: 6rem;
	border-bottom: .05rem solid #c4c4c4;
}

aside button {
	margin: 5rem auto 0 auto;
	display: block;
	height: 6rem;
	min-width: 70%;
	max-width: 28rem;
	background-color: #ffad00;
	border-radius: 80px;
}





/*Social Links ===================*/

a[href="#facebook"] {
	content: url(../images/fb.png);
	max-width: 4rem;
}

a[href="#instagram"] {
	content: url(../images/instagram.png);
	max-width: 4rem;
}

a[href="#youtube"] {
	content: url(../images/youtube.png);
	max-width: 4rem;
}

a[href="#twitter"] {
	content: url(../images/twitter.png);
	max-width: 4rem;
}

footer ul:nth-of-type(2) li {
	margin-right: 1.5rem;
}

