@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

/* CSS Reset =========================== */
html, body, nav, section, footer, article, 
h1, h2, h3, h4, p, a, ul, li, dt, dd, address, input, button {
	appearance: none;
	border: none;
	border-radius: 0;
	background: none;
	box-sizing: border-box;
	color: inherit;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	list-style: none;
	margin: 0;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}


/* Typography Defaults ============================================== */
body {
	background-color: #f5f5f5;
}

body, button, input[placeholder] {
    font-family: 'Comfortaa', sans-serif;
}

html {
	font-size: 62.5%;
}

h1 {
	font-size: 3rem;
	font-family: 'Fredoka One', cursive;
}

h2, header nav, #navContent a {
	text-shadow: 1px 1px 2px grey;
}

h2 {
	font-size: 4rem;
}

h3, input[placeholder]::placeholder {
	color: black;
}

input[placeholder] {
	font-size: 1.6rem;
}

h3, h4, button {
	font-size: 2.3rem;
}

p {
	color: #9b9b9b;
}

p, nav li, address, #navContent > a {
	line-height: 3rem;
	font-size: 1.8rem;
}

nav li, address, h2, h2 + p, header, button, footer {
	color: white;
}

nav li, address, h2, h2 + p, header, button, h4 {
	font-weight: 700;
}

nav li {
	letter-spacing: .15rem;
}


/* Default Structure ============================================== */
body, div.wrapper, #navWrapper {
	width: 100%;
	margin: 0 auto;
}

body, div.wrapper, header, footer, #pageTitle {
	margin: 0 auto;
}

h3, h4 {
	margin-bottom: 2rem;
}

main {
	margin: 12.5rem auto;
	max-width: 90%;
}

main::after {
	content: "";
	display: block;
	clear: both;
}

header .wrapper:not(#navContent) {
	background: rgba(0, 0, 0, .2);
	min-height: inherit;
}

main section h2, footer section:nth-of-type(2) h4 {
	display: none;
}

/* Header ============================================== */
header {
	background-image: url("../images/sandboxBaby.png");
	background-position-y: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 52.5rem;
}

#currentPage a {
	border-bottom: 3px solid #ffad00;
}

#navContent {
	overflow: auto;
}

#navContent img, #navContent h1, #navContent li, #navContent div {
	float: left;
}

#navContent nav, #navContent > a, #navContent ul {
	float: right;
}

#navContent img, #navContent h1, #navContent > nav, #navContent a, #navContent ul {
	max-height: 8rem;
}

#navWrapper {
	max-height: 9.5rem;
	position: fixed;
}

#navWrapper:not(#navContent) {
	background: rgba(0, 0, 0, 0.6);
}

/* LOGO */
#navContent div {
	width: calc(22% - 3rem);
	margin: 0 1.5rem;
}

#navContent img {
	height: 4rem;
	padding-bottom: 1rem;
}

#navContent h1 {
	margin-left: .5rem;
}

/* NAV LINKS */
#navContent nav {
	width: 65%;
}

#navContent ul {
	width: 100%;
}

#navContent ul li {
	width: calc(100%/5 - 2rem);
}

#navContent li:not(:last-of-type) {
	margin-right: 1.5rem;
}

/* MORE MENU */
#navContent > a {
	width: 8%;
	text-align: right;
	margin-right: 1.5rem;
}

#navContent > div, #navContent > nav li, #navContent a {
	padding-top: 3rem;
}

#pageTitle {
	padding-top: 24rem;
	text-align: center;
	width: 70%;
}

#pageTitle p {
	padding: 3.6rem;
}


/* Footer ============================================== */
footer div.wrapper  {
	background-color: #383A6B;
	height: 47rem;
}

footer .wrapper div {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12.4rem;
}

footer .wrapper div nav, footer .wrapper div section {
	width: calc(80%/2 - 15%);
	float: left;
}

footer .wrapper div nav:not(:last-of-type), footer .wrapper div section {
	margin-right: 15%;
}

footer .wrapper div nav:last-of-type {
	width: 15%;
}

footer nav:first-of-type ul li  {
	float: left;
}

footer nav:first-of-type ul:first-of-type li:nth-of-type(1), nav:first-of-type ul:first-of-type li:nth-of-type(3){
	width: 18rem;
}

footer nav:first-of-type ul:nth-of-type(2) li {
	margin: 3rem 1.5rem 0 0;
}

address > a {
	display: block;
	margin-top: 2rem;
}

/*SOCIAL LINKS*/
footer nav:first-of-type ul:nth-of-type(2) a {
	max-width: 4rem;
}

a[href="#facebook"] {
	content: url(../images/fb.png);	
}

a[href="#instagram"] {
	content: url(../images/instagram.png);
}

a[href="#youtube"] {
	content: url(../images/youtube.png);
}

a[href="#twitter"] {
	content: url(../images/twitter.png);
}

/* COPYRIGHT */
footer > section p:first-of-type {
	margin: 2rem auto 4.2rem auto;
	height: 3rem;
	background-color: #f6f6f6;
	text-align: center;
}

/* TO TOP BUTTON */
footer > p a {
	content: url(../images/up-arrow.png);
	float: right;
	height: 5rem;
	margin: 0 3rem 3rem 0;
}

footer .wrapper div::after, footer .wrapper div nav ul::after {
	content: " ";
    display: block;
    clear: both;
}

/* MAIN SECTION ============================================== */
article, main section:nth-of-type(2) {
	background-color: white;
	border-radius: 5px;
}

/* programs */
main section:first-of-type {
	width: 68%;
	float: left;
}

main section article {
	width: calc(100%/2 - 2rem);
	float: left;
	margin-bottom: 2rem;
}

main section:first-of-type article:nth-of-type(1), main section:first-of-type article:nth-of-type(3) {
	margin-right: 2rem;
}

article img {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

main section:first-of-type div {
	padding: 3.6rem 2.2rem;
}

section article div p {
	color: #9b9b9b;
}

section > article div p:nth-of-type(2) {
	color: #e83e8c;
}

div p:nth-of-type(2), div p:nth-of-type(3) {
	display: inline;
}

div p:nth-of-type(1) {
	padding-bottom: 1.8rem;
}

/* registration */
main section:nth-of-type(2) {
	float: right;
	width: calc(28% - 2rem);
	padding: 2rem;
}

fieldset {
	border: none;
}

main section:nth-of-type(2) h3{
	padding: 2rem 0 0 0;
	text-align: center;
	font-size: 2.3rem;
}

form label {
	display: none;
}

form input, form button {
	display: block;
	height: 6rem;
	width: 85%;
}

form input {
	margin: 1.8rem auto 0 auto;
	border-bottom: .05rem solid #c4c4c4;
}

form button {
	margin: 3rem auto;
	background-color: #ffad00;
	border-radius: 80px;
}